// Paypal Donation Button
// if you want to use my image, it's here: https://raw.github.com/ttscoff/JekyllPlugins/master/Donation/donation2.png
.paypalform{
	padding: 0;
	margin: 80px auto 30px auto;
	.paypalbutton {
		display: block;
		width: 273px;
		height: 127px;
		margin: 0 2px;
		outline: none;
		border: none;
		background: transparent url(/images/donation2.png) no-repeat top left;
		background-size: contain;
		-webkit-background-size: contain;
		opacity: 0.7;
		text-indent: -9000px;
		position: relative;
		-webkit-transition:opacity .4s ease-in-out;
		-moz-transition:opacity .4s ease-in-out;
		-o-transition:opacity .4s ease-in-out;
		transition:opacity .4s ease-in-out;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&:hover span {
			visibility: visible;
			opacity: 0.9;
			-webkit-transform: translate(0px) rotate(0deg) scale(1);
			-moz-transform: translate(0px) rotate(0deg) scale(1);
			-o-transform: translate(0px) rotate(0deg) scale(1);
			-ms-transform: translate(0px) rotate(0deg) scale(1);
			transform: translate(0px) rotate(0deg) scale(1);
		}

		span {
			width: 250px;
			line-height: 1.2;
			padding: 10px;
			right: -40px;
			bottom: 100px;
			font-family: Habibi, Georgia, Times, "Times New Roman", serif;
			font-weight: 300;
			font-style: italic;
			font-size: 21px;
			color: #777;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
			text-align: center;
			border: 4px solid #fff;
			background: rgba(255,255,255,0.95);
			text-indent: 0px;
			border-radius: 5px;
			position: absolute;
			opacity: 0;
			visibility: visible;
			pointer-events: none;
			box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
			-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
			-moz-transform: translate(35px) rotate(25deg) scale(1.5);
			-o-transform: translate(35px) rotate(25deg) scale(1.5);
			-ms-transform: translate(35px) rotate(25deg) scale(1.5);
			transform: translate(35px) rotate(25deg) scale(1.5);
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			&:before, &:after {
				content: '';
				position: absolute;
				bottom: -15px;
				left: 50%;
				margin-left: -9px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid rgba(0,0,0,0.1);
			}

			&:after {
				bottom: -14px;
				margin-left: -10px;
				border-top: 10px solid #fff;
			}
		}
	}
}
