/* 3024 by Jan T. Sott (http://github.com/idleberg) */

$base01 : #090300 !default; // Default Background
$base02 : #3a3432 !default; // Lighter Background (Used for status bars)
$base03 : #4a4543 !default; // Selection Background
$base04 : #5c5855 !default; // Comments, Invisibles, Line Highlighting
$base05 : #807d7c !default; // Dark Foreground (Used for status bars)
$base06 : #a5a2a2 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #d6d5d4 !default; // Light Foreground (Not often used)
$base08 : #f7f7f7 !default; // Light Background (Not often used)
$base09 : #db2d20 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #e8bbd0 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #fded02 !default; // Classes, Markup Bold, Search Text Background
$base12 : #01a252 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #b5e4f4 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #01a0e4 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #a16a94 !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #cdab53 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















