/* Ashes by Jannik Siebert (https://github.com/janniks) */

$base01 : #1C2023 !default; // Default Background
$base02 : #393F45 !default; // Lighter Background (Used for status bars)
$base03 : #565E65 !default; // Selection Background
$base04 : #747C84 !default; // Comments, Invisibles, Line Highlighting
$base05 : #ADB3BA !default; // Dark Foreground (Used for status bars)
$base06 : #C7CCD1 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #DFE2E5 !default; // Light Foreground (Not often used)
$base08 : #F3F4F5 !default; // Light Background (Not often used)
$base09 : #C7AE95 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #C7C795 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #AEC795 !default; // Classes, Markup Bold, Search Text Background
$base12 : #95C7AE !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #95AEC7 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #AE95C7 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #C795AE !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #C79595 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















