/* Black Metal (Dark Funeral) by metalelf0 (https://github.com/metalelf0) */

$base01 : #000000 !default; // Default Background
$base02 : #121212 !default; // Lighter Background (Used for status bars)
$base03 : #222222 !default; // Selection Background
$base04 : #333333 !default; // Comments, Invisibles, Line Highlighting
$base05 : #999999 !default; // Dark Foreground (Used for status bars)
$base06 : #c1c1c1 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #999999 !default; // Light Foreground (Not often used)
$base08 : #c1c1c1 !default; // Light Background (Not often used)
$base09 : #5f8787 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #aaaaaa !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #5f81a5 !default; // Classes, Markup Bold, Search Text Background
$base12 : #d0dfee !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #aaaaaa !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #888888 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #999999 !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #444444 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















