/* Heetch Dark by Geoffrey Teale (tealeg@gmail.com) */

$base01 : #190134 !default; // Default Background
$base02 : #392551 !default; // Lighter Background (Used for status bars)
$base03 : #5A496E !default; // Selection Background
$base04 : #7B6D8B !default; // Comments, Invisibles, Line Highlighting
$base05 : #9C92A8 !default; // Dark Foreground (Used for status bars)
$base06 : #BDB6C5 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #DEDAE2 !default; // Light Foreground (Not often used)
$base08 : #FEFFFF !default; // Light Background (Not often used)
$base09 : #27D9D5 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #5BA2B6 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #8F6C97 !default; // Classes, Markup Bold, Search Text Background
$base12 : #C33678 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #F80059 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #BD0152 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #82034C !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #470546 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















