/* Horizon Dark by Michaël Ball (http://github.com/michael-ball/) */

$base01 : #1C1E26 !default; // Default Background
$base02 : #232530 !default; // Lighter Background (Used for status bars)
$base03 : #2E303E !default; // Selection Background
$base04 : #6F6F70 !default; // Comments, Invisibles, Line Highlighting
$base05 : #9DA0A2 !default; // Dark Foreground (Used for status bars)
$base06 : #CBCED0 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #DCDFE4 !default; // Light Foreground (Not often used)
$base08 : #E3E6EE !default; // Light Background (Not often used)
$base09 : #E95678 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #FAB795 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #FAC29A !default; // Classes, Markup Bold, Search Text Background
$base12 : #29D398 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #59E1E3 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #26BBD9 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #EE64AC !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #F09383 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















