/* Material Vivid by joshyrobot */

$base01 : #202124 !default; // Default Background
$base02 : #27292c !default; // Lighter Background (Used for status bars)
$base03 : #323639 !default; // Selection Background
$base04 : #44464d !default; // Comments, Invisibles, Line Highlighting
$base05 : #676c71 !default; // Dark Foreground (Used for status bars)
$base06 : #80868b !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #9e9e9e !default; // Light Foreground (Not often used)
$base08 : #ffffff !default; // Light Background (Not often used)
$base09 : #f44336 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #ff9800 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #ffeb3b !default; // Classes, Markup Bold, Search Text Background
$base12 : #00e676 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #00bcd4 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #2196f3 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #673ab7 !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #8d6e63 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















