/* Solar Flare by Chuck Harmston (https://chuck.harmston.ch) */

$base01 : #18262F !default; // Default Background
$base02 : #222E38 !default; // Lighter Background (Used for status bars)
$base03 : #586875 !default; // Selection Background
$base04 : #667581 !default; // Comments, Invisibles, Line Highlighting
$base05 : #85939E !default; // Dark Foreground (Used for status bars)
$base06 : #A6AFB8 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #E8E9ED !default; // Light Foreground (Not often used)
$base08 : #F5F7FA !default; // Light Background (Not often used)
$base09 : #EF5253 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #E66B2B !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #E4B51C !default; // Classes, Markup Bold, Search Text Background
$base12 : #7CC844 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #52CBB0 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #33B5E1 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #A363D5 !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #D73C9A !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















