/* Solarized Light by Ethan Schoonover (modified by aramisgithub) */

$base01 : #fdf6e3 !default; // Default Background
$base02 : #eee8d5 !default; // Lighter Background (Used for status bars)
$base03 : #93a1a1 !default; // Selection Background
$base04 : #839496 !default; // Comments, Invisibles, Line Highlighting
$base05 : #657b83 !default; // Dark Foreground (Used for status bars)
$base06 : #586e75 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #073642 !default; // Light Foreground (Not often used)
$base08 : #002b36 !default; // Light Background (Not often used)
$base09 : #dc322f !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #cb4b16 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #b58900 !default; // Classes, Markup Bold, Search Text Background
$base12 : #859900 !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #2aa198 !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #268bd2 !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #6c71c4 !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #d33682 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















