/* London Tube by Jan T. Sott */

$base01 : #231f20 !default; // Default Background
$base02 : #1c3f95 !default; // Lighter Background (Used for status bars)
$base03 : #5a5758 !default; // Selection Background
$base04 : #737171 !default; // Comments, Invisibles, Line Highlighting
$base05 : #959ca1 !default; // Dark Foreground (Used for status bars)
$base06 : #d9d8d8 !default; // Default Foreground, Caret, Delimiters, Operators
$base07 : #e7e7e8 !default; // Light Foreground (Not often used)
$base08 : #ffffff !default; // Light Background (Not often used)
$base09 : #ee2e24 !default; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base10 : #f386a1 !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base11 : #ffd204 !default; // Classes, Markup Bold, Search Text Background
$base12 : #00853e !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base13 : #85cebc !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base14 : #009ddc !default; // Functions, Methods, Attribute IDs, Headings
$base15 : #98005d !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base16 : #b06110 !default; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?

/* non highlighted code colors */
$pre-bg       : $base01 !default;
$pre-border   : lighten($base01, 10) !default;
$pre-color    : $base07 !default;
$lineno       : $base06 !default;
$lineno-bg    : $base02 !default;
$lineno-hi    : $base08 !default;
$lineno-hi-bg : $lineno-bg !default;
















